.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.hero-bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px !important;
    min-height: 500px;
    position: fixed;
    top: 55px;
    width: 100%;
}
.hero-bg:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-img{
    /*background: rgba(255, 255, 255, 0.6);*/
    width: 100% !important;
    /*box-shadow: 0px 0px 50px 12px rgba(255,255,255,0.6);*/
    position: absolute;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 0;
    top: calc(50% - 60px); transform: translateY(-50%);
}
.hero-img img{
    margin-bottom: 30px;
}
.hero-text{
    padding: 20px;
    /*background: rgba(255, 255, 255, 0.6);*/
    width: 100% !important;
    /*box-shadow: 0px 0px 50px 12px rgba(255,255,255,0.6);*/
    margin: 0px auto;
    position: absolute;
    color: #FFF;
    top: 225px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    font-size: 2rem;
}
.album{
    background-color: #FFF;
    -webkit-box-shadow: 0px -4px 12px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -4px 12px 1px rgba(0,0,0,0.5);
    box-shadow: 0px -4px 12px 1px rgba(0,0,0,0.5);
}

.card-1 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-1:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

