.gallery-nav{
    width: 100%;
    padding: 10px;
    color: white;
    z-index: 9999;
    top: calc(50% - 50px);
    position: absolute;
}

@media screen and (max-width: 992px) {
    .gallery-nav{
        top: calc(100% - 90px);
        position: absolute;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .gallery-nav{
        top: calc(100% - 90px);
        position: absolute;
    }
    .nav-pills{
        width: 100%;
    }
}

.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 12px 0;
    font-size: 12px;
    line-height: 3;
    border-radius: 25px;
}


.gallery-nav :nth-child(2){
    float: right;
}

.img-container img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    cursor: pointer;
}

.img-container {
    width:100vw;
    height: calc(100vh - 200px);
    padding: 30px;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    background-color: #222222;

    -webkit-transition: all 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
      -o-transition: all 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
         transition: all 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
 
 -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
      -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
         transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}


.date-pill{
    font-size: 16px;
    margin-top: 7px;
    font-weight: normal;
    float: right;
}












ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin-top: 0.675em;
}

ul.icons li {
    display: inline-block;
    padding: 0.675em 1.1em;
}

ul.icons li a {
    text-decoration: none;
    position: relative;
    display: block;
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: solid 1px #c8cccf;
    line-height: 3.75em;
    overflow: hidden;
    text-align: center;
    text-indent: 3.75em;
    white-space: nowrap;
}

ul.icons li a:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

ul.icons li a:before {
    color: #ffffff;

}

ul.icons li a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    font-size: 1.85rem;
    line-height: inherit;
    text-align: center;
    text-indent: 0;
}

ul.icons li a:hover {
    border-color: #ff7496;
}

@media screen and (max-width: 480px) {

    ul.icons li a:before {
        font-size: 1.5rem;
    }

}