.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 30px;
    padding: 0px;
    margin-top: 4px;
    border: #CCC 1px solid;
}

.search_input{
    color: rgba(0,0,0,.5);
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 35px;
    transition: width 0.4s linear;
    
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    margin-right: -1px;
    border: #CCC 1px solid;
}

.search_icon{
    height: 35px;
    width: 35px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:rgba(0,0,0,.5);
    text-decoration:none;
    border: none
}