html, body {
  height: 100%;
  color: white;
  overflow: hidden;
}
.App {
  text-align: center;
  height: 100%;
}
#root{
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item-container {
 cursor:crosshair;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-modal-body {
  padding: 5px 24px 16px 24px;
}

.ant-modal-header {
  padding: 16px 24px 5px 24px;
}

.brand {
  float: left;
  font-size: 24px;
  padding: 0px 44px;
  color: white;
  border-right: 1px solid  #282828;
}
.brand:hover {
  color: rgba(255, 255, 255, 0.65);
}

.galleryImg {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-row.ant-form-item{
  margin-bottom: 10px;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

.item {
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  width:100%;
  height:0;
  padding-bottom: calc(100%*4/6);
  position: relative;
}
/* Blur + Gray Scale */
.item figure img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}
.item figure:hover img {
	-webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer;

}
.item figure {
  border: 3px solid #000;
  margin: 0;
  text-align: center;
}



.ant-input-search .ant-input {
  border: 0px;
  height: 42px;

}
.ant-input-search .ant-input:focus {
  outline-color: transparent;
  outline-style: none;
  box-shadow: none;
}

.ant-input-search {
  font-size: larger;
  margin-top: 10px;
}
.ant-input-search .ant-input-suffix {
  left: 10px;
  right: auto;
}



/* .tick {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

} */

.maintenance .ant-upload {
  width: 100%;
}

.ant-menu-submenu ul {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -5px;
  margin-right: -20px;
}

/* .ant-menu-submenu-popup::-webkit-scrollbar {
  display: none;
}
.ant-menu-submenu-popup{
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
  
  scrollbar-width: none;
} */


.menu-tree > .ant-tree {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300; 
  min-width:300px
}

.menu-tree  .ant-tree-treenode {
  padding: 5px 10px;
}


.main {
  width: 100%;
}