<div class="container col-xxl-8 px-4 py-5">
     <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-5">
               <img src="/assets/img/icons/teapot.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                    loading="lazy" width="500" height="500">
          </div>
          <div class="col-lg-7">
               <h1 class="display-5 fw-bold lh-1 mb-3">Oh Dear</h1>
               <p class="lead">Seems like something has gone wrong somewhere, maybe is us, either we can not find what you are looking for or something fellover on the server. </p>
               <p class="lead">Anyhow Make a cup of tea and try again</p>
          </div>
     </div>
</div>