<div class="container">
     {{#if Album.Name}}
     <div style="
            margin: 20px 0px; 
            height: 400px; 
            width: 100%; 
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;  
            background-repeat: no-repeat; 
            background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/img/{{Picture.Id}}?size=original');
            color: white;
          "
          class="img-fluid rounded">
          <div class="hero-text">
               <h1 class="jumbotron-heading text-white">{{Album.Name}}</h1>
          </div>
     </div>
     {{/if}}

     <div class="row">
          {{#if Album.Children }}
               <div class="col-lg-3">
               {{#each Album.Children}}
                    {{> "album"}}
               {{/each}}
               </div>
          {{/if}}
          <div class="col">
               {{> "gallery"}}
          </div>
     </div>
</div>