<div class="container">
     {{#if Album.Name}}
     <div style="
            margin: 20px 0px; 
            height: 400px; 
            width: 100%; 
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;  
            background-repeat: no-repeat; 
            background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/img/{{Picture.Id}}?size=original');
            color: white;
            background-position: center;
          "
          class="img-fluid rounded">
          <div class="hero-text">
               <h1 class="jumbotron-heading text-white">{{Album.Name}}</h1>
          </div>
     </div>
     {{/if}}

     <div class="row">
          {{#if Album.Children }}
               {{#each Album.Children}}
                    <div class="col-sm-12 col-md-6 col-lg-3">
                         {{> "album"}}
                    </div>
               {{/each}}
          {{/if}}
     </div>
     {{> "gallery"}}
</div>