{{ define "main" }}
     <div class="container">
          <div class="container" id="gallery">
               {{template "gallery" . }}
          </div>
          <div class="row g-3 galleryRow" id="loading" style="justify-content:center;">
               <div class="col-sm-12 col-md-6 col-lg-3">
                    <picture><a><img src="/assets/img/placeholder.png" class="img-fluid rounded skeleton-card" /></a></picture>
               </div>
          </div>
     </div>
     <script>
          const galleryContainer = document.getElementById("gallery");
          const loadingyContainer = document.getElementById("loading");
          const parser = new DOMParser();
          var throttleTimer;
          var currentPage = 0;
          const throttle = (callback, time) => {
               if (throttleTimer) return;
               throttleTimer = true;
               setTimeout(() => {
                    callback();
                    throttleTimer = false;
               }, time);
          };
          const getPage = (index) => {
               currentPage = index;
               //window.history.pushState(null, null, `/page/${index}`);
               loadingyContainer.style.display = 'flex';
               fetch(`/page/${index}/index.html`).then(function (response) {
                    if(response.ok){
                         return response.text();
                    }
                    throw new Error(response.status + " Failed Fetch page ");
               }).then(function (html) {
                    dom = parser.parseFromString(html, "text/html");
                    galleryContainer.append(dom.getElementsByClassName("galleryRow")[0]);
               }).catch(function (err) {
                    console.log(err)
                    removeInfiniteScroll();
                    loadingyContainer.style.display = 'none';
               })
          }
          const handleInfiniteScroll = () => {
               throttle(() => {
                    const endOfPage =
                         window.innerHeight + window.pageYOffset >= document.body.offsetHeight;
                    if (endOfPage) {
                         getPage(currentPage + 1);
                    }
               }, 500);
          };
          const removeInfiniteScroll = () => {
               window.removeEventListener("scroll", handleInfiniteScroll);
          };
          window.addEventListener("scroll", handleInfiniteScroll);
     </script>
{{end}}