<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarColor01">
          <ul class="navbar-nav me-auto nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" href="/albums">Albums </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/collection/latest">Latest</a>
            </li>
          </ul>

          <ul class="d-flex navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
        </div>
        <a class="navbar-brand mx-auto justify-content-center" href="/">
          <img src="https://gallery.exceptionerror.io/static/media/logo.e993c4e4.png" alt="Gallery Logo"
            style="margin-right: 10px;" height="50px">
          <span>{{Settings.Name}}</span>
        </a>
      </div>
    </nav>
  </header>