<div class="container">
     <div style="
            margin: 20px 0px; 
            height: 600px; 
            width: 100%; 
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;  
            background-repeat: no-repeat; 
            background-image: url('https://gallery.exceptionerror.io/img/e56ac18c209735e57e05bcaab053e7c7?size=original');"
          class="img-fluid rounded">
          <div class="hero-text">
               <h1 class="jumbotron-heading">Beacon Beacons</h1>
          </div>
     </div>

     <div class="row">
          <div class="col-3">
               <a href="#">
                    <div class="card">
                         <img src="https://gallery.exceptionerror.io/img/e56ac18c209735e57e05bcaab053e7c7?size=original"
                              class="card-img-top" alt="...">
                         <div class="card-body">
                              <h5 class="card-title" style="text-align: center;"> Card title</h5>
                         </div>
                    </div>
               </a>
          </div>
          <div class="col">
               {{> "gallery"}}
          </div>
     </div>
</div>