
.wrapper {
    margin: 2em auto;
    max-width: 970px;
  }
  
  img {
    vertical-align: middle;
    max-width: 100%;
  }
  
  .masonry {
    display: flex;
    padding: 10px;
    width: 100%;
  }
  
  
  .masonry--h {
    flex-flow: row wrap;
  }
  
  .masonry--v {
    flex-flow: column wrap;
    max-height: 1080px;
  }
  
  .masonry--h,
  .masonry--v {
    margin-left: -10px; /* Adjustment for the gutter */
    counter-reset: brick;
  }
  
  .masonry-brick {
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 0 0 20px 20px;  /* Some Gutter */
    background-color: #333;
    color: white;
    position: relative;
  }
  
  .masonry-brick:after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5000;
    transform: translate(-50%, -50%);
    transition: font-size .25s, opacity .25s ease-in-out;
    font-weight: 700;
    opacity: .5;
    font-size: 1.25em;
  }
  
  .masonry-brick:hover:after {
    font-size: 2.25em;
    opacity: 1;
  }
  
  .masonry-brick--h {
    flex: auto;
    height: 250px;
    min-width: 150px;
  }
  
  @media only screen and (min-width: 1024px) {
    /* Horizontal masonry bricks on desktop-sized screen */
    .masonry-brick--h:nth-child(4n+1) {
      width: 250px;
    }
    .masonry-brick--h:nth-child(4n+2) {
      width: 325px;
    }
    .masonry-brick--h:nth-child(4n+3) {
      width: 180px;
    }
    .masonry-brick--h:nth-child(4n+4) {
      width: 380px;
    }
  
    /* Adjusting vertical masonry height on desktop-sized screen */
    .masonry--v {
      max-height: 1600px;
    }
  
    /* Vertical masonry bricks on desktop-sized screen */
    .masonry-brick--v {
      width: 33.33333%;
    }
  }
  
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    /* Horizontal masonry bricks on tabled-sized screen */
    .masonry-brick--h:nth-child(4n+1) {
      width: 200px;
    }
    .masonry-brick--h:nth-child(4n+2) {
      width: 250px;
    }
    .masonry-brick--h:nth-child(4n+3) {
      width: 120px;
    }
    .masonry-brick--h:nth-child(4n+4) {
      width: 280px;
    }
  
    /* Adjusting vertical masonry height on tablet-sized screen */
    .masonry--v {
      max-height: 2000px;
    }
  
    /* Vertical masonry bricks on tablet-sized screen */
    .masonry-brick--v {
      width: 50%;
    }
  }
  
  .masonry-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
  }
  