.fa-2x {
  vertical-align: middle;
}

.nav-hidden{
  display: none;
}

.navbar-brand
{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 12px
}

* {
  margin: 0; padding: 0;
  list-style-type: none;
}


.gallery-nav{
  width: 100%;
  padding: 10px;
  color: white;
  z-index: 9999;
  top: calc(50% - 50px);
  position: absolute;
}

/* bs3: mobile navbar without js custom
 * ------------------------------------
 * show the collapse when navbar toggle is checked */
 #navbar-toggle-cbox:checked ~ .collapse {
	display: block;
}

/* the checkbox used only internally; don't display it */
#navbar-toggle-cbox {
  display:none
}