body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}


.masonry {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-auto-rows: 0;
    padding: 0px 20px 0px 20px;
}

.masonry-item {
}

.masonry-item {

    overflow: hidden;
}

.masonry-item,
.masonry-item img {
    position: relative;
    width: 100%;
    object-fit: contain;
}

.masonry-item:after {
    /*icons-weight: bold;*/
    /*background-color: rgba(0, 0, 0, .5);*/
    /*content: attr(alt);*/
    /*counter-increment: masonry;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 20px;*/
    /*left: 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*color: white;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: flex-end;*/
    /*transition: all .1s ease-in;*/
}

.masonry-item:hover:after {
    font-size: 30px;
    background-color: rgba(0, 0, 0, .75);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.fa-2x {
    vertical-align: middle;
}

.nav-hidden{
    display: none;
}

.navbar-brand
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12px
}




.gallery-nav{
    width: 100%;
    padding: 10px;
    color: white;
    z-index: 9999;
    top: calc(50% - 50px);
    position: absolute;
}

@media screen and (max-width: 992px) {
    .gallery-nav{
        top: calc(100% - 90px);
        position: absolute;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .gallery-nav{
        top: calc(100% - 90px);
        position: absolute;
    }
    .nav-pills{
        width: 100%;
    }
}

.hero-bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px !important;
    min-height: 500px;
    position: fixed;
    top: 55px;
    width: 100%;
}
.hero-bg:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-img{
    /*background: rgba(255, 255, 255, 0.6);*/
    width: 100% !important;
    /*box-shadow: 0px 0px 50px 12px rgba(255,255,255,0.6);*/
    position: absolute;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 0;
    top: calc(50% - 60px); transform: translateY(-50%);
}
.hero-img img{
    margin-bottom: 30px;
}
.hero-text{
    padding: 20px;
    /*background: rgba(255, 255, 255, 0.6);*/
    width: 100% !important;
    /*box-shadow: 0px 0px 50px 12px rgba(255,255,255,0.6);*/
    margin: 0px auto;
    position: absolute;
    color: #FFF;
    top: 225px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    font-size: 2rem;
}


.album{
    background-color: #FFF;
    -webkit-box-shadow: 0px -4px 12px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -4px 12px 1px rgba(0,0,0,0.5);
    box-shadow: 0px -4px 12px 1px rgba(0,0,0,0.5);
}

.card-1 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-1:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



.gallery-nav :nth-child(2){
    float: right;
}

.img-container img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

.img-container {
    width:100vw;
    height: calc(100vh - 120px);
    padding: 30px;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    background-color: #222222;
}


.date-pill{
    font-size: 16px;
    margin-top: 7px;
    font-weight: normal;
    float: right;
}



* {
    margin: 0; padding: 0;
    list-style-type: none;
}

main {

}


.MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: calc(100vh - 180px);
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 55px;
}

.ContentContainer {
    position: relative;
    display: block;
    background-color: white;
    z-index: 1;
}

.Content {
    max-width: 750px;
    margin: 0 auto;
    padding: 75px 0;
}
.ParallaxContainer {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 80vh;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background-color: rgb(250,228, 216);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}



/* image-grid
------------------------- */

.image-grid {
    max-width: 1600px;
    margin: 0 auto;
}
.image-grid__item,
.image-grid__col-sizer {
    width: 20%;
}

@media screen and (max-width: 992px) {
    .image-grid {
        max-width: 992px;
        margin: 0 auto;
    }
    .image-grid__item,
    .image-grid__col-sizer {
        width: 50%;
    }
    .navbar-brand
    {
        top: 6px;
    }
    .nav-hidden{
        display: inline;
    }
    .hero-img{
        margin-top: 80px;
    }

    .nav-item{
        border-top: 1px #cbcbcb solid;
    }

    .img-container {
        height: calc(100vh);
        padding: 0px;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .image-grid {
        max-width: 600px;
        margin: 0 auto;
    }
    .image-grid__item,
    .image-grid__col-sizer {
        width: 100%;
    }
}






.image-grid__gutter-sizer { width: 0%; }

/* hide by default */
.image-grid.are-images-unloaded .image-grid__item {
    opacity: 0;
}

.image-grid__item {
    padding: 10px;
    float: left;
}

.image-grid__image {
    display: block;
    max-width: 100%;
}

/* loader-ellips
------------------------- */

.loader-ellips {
    font-size: 20px;
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
}

.loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
    left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
}

@keyframes slide {
    to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
    animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
}

/* loader-wheel
------------------------- */

.loader-wheel {
    font-size: 64px; /* change size here */
    position: relative;
    height: 1em;
    width: 1em;
    padding-left: 0.45em;
    overflow: hidden;
    margin: 0 auto;
    animation: loader-wheel-rotate 0.5s steps(12) infinite;
}

.loader-wheel i {
    display: block;
    position: absolute;
    height: 0.3em;
    width: 0.1em;
    border-radius: 0.05em;
    background: #333; /* change color here */
    opacity: 0.8;
    transform: rotate(-30deg);
    transform-origin: center 0.5em;
}

@keyframes loader-wheel-rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}



.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 3;
    border-radius: 25px;
}
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin-top: 0.675em;
}

ul.icons li {
    display: inline-block;
    padding: 0.675em 0.5em;
}

ul.icons li a {
    text-decoration: none;
    position: relative;
    display: block;
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: solid 1px #c8cccf;
    line-height: 3.75em;
    overflow: hidden;
    text-align: center;
    text-indent: 3.75em;
    white-space: nowrap;
}

ul.icons li a:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

ul.icons li a:before {
    color: #ffffff;

}

ul.icons li a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    font-size: 1.85rem;
    line-height: inherit;
    text-align: center;
    text-indent: 0;
}

ul.icons li a:hover {
    border-color: #ff7496;
}

@media screen and (max-width: 480px) {

    ul.icons li a:before {
        font-size: 1.5rem;
    }

}


.table-heading{
    font-size: 21px;
    text-align: center;
    background-color: #e5e5e5;
    color: #545050;
}

.navbar-toggler {
    padding: .25rem .55rem;
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}