{{define "footer"}}
    <hr/>
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#" onclick="topFunction()">Back to top</a>
            </p>
            <p>{{.footer}}</p>
        </div>
    </footer>
    <script src="/static/js/bootstrap-native-v4.min.js"></script>
    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/sw.js')
                .then(function() { console.log('Service Worker Registered'); });
        }else{
            console.log("No Navigator")
        }
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>
{{end}}