{{define "albumPicturePage"}}
    <!DOCTYPE HTML>
    {{template "head" .}}
    <body>
    {{template "header" .}}

    <div style="margin-top: 60px">
        {{ with .picture }}
        <div id="gallery_single" class="img-container">
            <img data-src="/img/{{.Name}}" src="/thumb/{{.Name}}/large" onclick="showLightbox()">
        </div>
        <script>
        function preloadImage(section) {
            var src = section.getAttribute('data-src');
            if (!src) { return; }
            if (section.tagName === 'IMG') {
                section.src =  src;
            } else {
                section.style.backgroundImage = 'url(' + src + ')';
            }
        }
        const config = { rootMargin: '0px 0px 50px 0px', threshold: 0 };
        let observer = new IntersectionObserver(function(entries, self) {
        entries.forEach(entry => {
            if(entry.isIntersecting) {
                preloadImage(entry.target);
                self.unobserve(entry.target);
            }
        });
        }, config);
        const imgs = document.querySelectorAll('[data-src]');
        imgs.forEach(img => {observer.observe(img); });
        </script>
        {{ end }}

        <div class="gallery-nav">
            {{if .prePic}}
                <a href="/album/pic/{{.prePic.Name}}" class="btn btn-outline-dark btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 8 8">
                        <path d="M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z" transform="translate(1)" style="fill:#FFF;" />
                    </svg>
                </a>
            {{else}}
                <div></div>
            {{end}}
            {{if .nextPic}}
                <a href="/album/pic/{{.nextPic.Name}}" class="btn btn-outline-dark btn-circle">
                    <svg width="20" height="20" viewBox="0 0 8 8">
                        <path d="M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z" transform="translate(1)"  style="fill:#FFF;"/>
                    </svg>
                </a>
            {{end}}
        </div>

    </div>
    <div class="container" style="background-color: white; margin-top: 20px">
        <div class="row">
    {{ with .picture }}
            <div class="col-12">
                <h2 class="robotFont">{{.Name}}  <span class="badge badge-pill badge-light date-pill">{{.FormatTime}}</span> </h2>
                <p>{{.Caption}}</p>
                <table class="table" style="text-align: center; line-height: 50px; ">
                    <tbody>
                    {{if .Exif.Camera}}
                        <tr>
                            <th scope="row"><img src="/static/img/icons/camera.svg" width="50px"/></th>
                            <td>{{.Exif.Camera}}</td>
                        </tr>
                    {{end}}
                    {{if .Exif.LensModel}}
                    <tr>
                        <th scope="row"><img src="/static/img/icons/lens.svg" width="50px"/></th>
                        <td>{{.Exif.LensModel}}</td>
                    </tr>
                    {{end}}
                    {{if .Exif.FocalLength}}
                    <tr>
                        <th scope="row"><img src="/static/img/icons/focal-length.svg" width="50px"/></th>
                        <td>{{.Exif.FocalLength}}mm</td>
                    </tr>
                    {{end}}
                    {{if .Exif.FStop}}
                        <tr>
                            <th scope="row"><img src="/static/img/icons/apature.svg" width="50px"/></th>
                            <td>f{{.Exif.FStop}}</td>
                        </tr>
                    {{end}}
                    {{if .Exif.ShutterSpeed}}
                        <tr>
                            <th scope="row"><img src="/static/img/icons/timer.svg" width="50px"/></th>
                            <td>{{.Exif.ShutterSpeed}}</td>
                        </tr>
                    {{end}}
                    {{if .Exif.ISO}}
                        <tr>
                            <th scope="row"><img src="/static/img/icons/iso.svg" width="50px"/></th>
                            <td>{{.Exif.ISO}}</td>
                        </tr>
                    {{end}}
                    <tr>
                        <th scope="row">
                            <img src="/static/img/icons/albums.svg" width="50px"/>
                        </th>
                        <td><a href="/album/{{.Album}}">{{.Album}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {{end}}

    </div>
    <hr/>

    {{template "footer" .}}
    </body>
    </html>
{{end}}