{{define "albumPage"}}
    <!DOCTYPE HTML>
    <html>
    {{template "head" .}}
    <body>
    {{template "header" .}}

    {{ with .data }}
    <main role="main">
        <style>
            .hero-bg{
                background-image:url("/img/{{.ProfileIMG.Name}}");
                z-index: -1;
            }
        </style>
        <section class="jumbotron text-center hero-bg"></section>

        <div class="album py-5 bg-light" style="margin-top: 500px;">
            <div class="hero-text">
                <h1 class="jumbotron-heading">{{.Name}}</h1>
            </div>
            <div class="image-grid are-images-unloaded" data-js="image-grid">
                <div class="image-grid__col-sizer"></div>
                <div class="image-grid__gutter-sizer"></div>
                {{range .Images}}
                    <div class="image-grid__item">
                        <a href="/pic/{{.Name}}"> <img class="image-grid__image card-1" src="/thumb/{{.Name}}"></a>
                    </div>
                {{end}}
            </div>
            <div class="scroller-status">
                <div class="loader-ellips infinite-scroll-request">
                    <span class="loader-ellips__dot"></span>
                    <span class="loader-ellips__dot"></span>
                    <span class="loader-ellips__dot"></span>
                    <span class="loader-ellips__dot"></span>
                </div>
            </div>
        </div>
    </main>
    {{end}}
    <footer class="text-muted" style="background-color: white">
        <div class="container">
            <p class="float-right">
                <a href="#" onclick="topFunction()">Back to top</a>
            </p>
            <p>{{.about.footer}}</p>
        </div>
    </footer>
    {{template "gallery" .}}
    {{template "footer" .}}
    </body>
    </html>
{{end}}